table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}
.jumbotron {
    background-image: url("indexbg.png");
    height: 480px;
    background-repeat: no-repeat;
}
.banner-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px 10px 10px;
    margin: auto;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.9);
    width:500px;
    height: auto;
}
#header {
    color: #ffffff;
    -webkit-align-items: center;
    align-items: center;
    user-select: none;
    height: 20rem;
    padding-bottom: 8rem;
    position: relative;
    text-align: center;
    z-index: 2;
}
#header .logo {
    text-decoration: none;
    pointer-events: auto;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px !important;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1;
    padding: 1rem 1.75rem;
    text-transform: uppercase;
    visibility: visible;
}
.container2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
tr {
    background-color: rgba(10, 10, 10, 0.9);
}

    tr:nth-child(2n) {
        background-color: rgba(10, 10, 10, 0.7);
    }
.formbox {
    text-align: -webkit-center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    text-align: center;
    flex: 100%;
    max-width: 100%;
    padding: 10px 50px;
}
.column2 {
    flex: 100%;
    padding: 10px 50px;
    
}
.col-md-12 {
    gap: 5px;
}
.infomation{
    padding: 10px 10px 10px 10px;
}
body {
    margin: 0 auto 0 auto;
    background: white;
    color:white;
}
.row {
    max-width: 50%;
    margin: auto;
}
.dark-mode {
    background-color: rgba(10, 10, 10, 0.85);
    color: white;
}
form {
    width: 14rem;
    padding: 10px;
    margin: 15% auto;
    background: rgba(10, 10, 10, 0.85);
    border-radius: 10px
}
input[type=email] {
    padding: 10px;
    margin: 10px 0;
    // add top and bottom margin
}
input[type=password] {
    padding: 10px;
    margin: 10px 0;
    // add top and bottom margin
}
input[type=text] {
    padding: 10px;
    margin: 10px 0;
    // add top and bottom margin
}
input[type=text] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
input[type=email] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
input[type=password] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
input[type=submit] {
    /* remove default behavior */
    appearance: none;
    -webkit-appearance: none;
    /* usual styles */
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
}
/*css for file*/
.addform {
    width: 14rem;
    padding: 10px;
    margin: 15% auto;
    background: rgba(10, 10, 10, 0.85);
    border-radius: 10px
}
::file-selector-button {
    background: lightgrey;
    border: 1px solid grey;
    padding: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: -16px;
    margin-right: 16px;
}
#pic {
    background: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 6px grey;
    box-sizing: border-box;
    width:100%;
    margin-bottom:10px;
}
marquee{
    height:85vh;
}

aside {
    color: #911;
    background-color: lightpink;
    border-radius: 0.25rem;
    max-width: 18rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.0rem;
    animation: fade-out 3s 5s both;
}

.indexclickhere {
    max-width: 100%;
    height: auto;
    margin: auto;
    transition-duration: 0.3s;
    transition-property: transform;
}

    .indexclickhere:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);
    }