{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% if 'logged_in' not in session %}
<a href="{{ url_for('add_user') }}">Sign Up</a>
<a href="{{ url_for('login') }}">Login</a>
<br>
{% elif session['role'] == 'admin' %}
<h2>Admin controls:</h2>
<div class="row">
    <div class="col-md-12">
        <a href="{{ url_for('list_users')}}">View all users</a>
        <a href="{{ url_for('subject_view')}}">View all user subjects</a>
        <a href="{{ url_for('subject_viewad')}}">View all your subjects</a>
        <a href="{{ url_for('subject_add')}}">Add subjects</a>
        <a href="{{ url_for('admin_subject_list')}}">List of all subjects</a>
        <a href="{{ url_for('subject_viewad')}}">View all your subjects</a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="column">
       <div class='title'>
           <h2>Useful Infomation</h2>
           <h4>
               Deadlines:

               Students must complete their 2023 subject selection by the following dates:

               Current Y12     Friday 12th August
               Current Y11     Friday 12th August
               Current Y10     Friday 9th September
               Current Y9       Friday 28th October
               NB* Option selection will open two weeks prior to the deadline.



               Getting Started with Online Course Selection:

               It's good to involve your parents in the course selection process.  Remember courses selected because "my mates are doing it” do you no good at all.

               It's also a good idea to speak to your teachers about your choices, especially when trying to determine the most suitable maths, English and science courses.

               Your careers advisors can provide guidance and will meet with each of you after you have made your initial selection.
           </h4>
       </div>
    </div>
</div>

{% endblock %}