{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% if 'logged_in' not in session %}
<a href="{{ url_for('add_user') }}">Sign Up</a>
<a href="{{ url_for('login') }}">Login</a>
<br>
{% elif session['role'] == 'admin' %}
<h2>Admin controls:</h2>
<div class="row">
    <div class="col-md-12">
        <a href="{{ url_for('list_users')}}">View all users</a>
        <a href="{{ url_for('subject_view')}}">View all user movies</a>
        <a href="{{ url_for('subject_viewad')}}">View all your movies</a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <marquee behavior="alternate" scrollamount="30">
            <marquee behavior="alternate" scrollamount="30" direction="down">
                <img src="static/images/dvd.png" height="100px" width="100px">
            </marquee>
        </marquee>
    </div>
</div>

{% endblock %}