{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Movie</th>
            <th>Year</th>
            <th>genre</th>
            <th>rating</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.year_release }}</td>
            <td>{{ row.genre }}</td>
            <td>{{ row.rating }}</td>
            <td>
                <a href="/add?id={{ row.id }}"
                   onclick="return confirm('Have you watched {{ row.name }}?')">
                    Add
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}