{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>credits</th>
            <th>teacher</th>
            <th>summary</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
        <tr>
            <td>{{ row.Name }}</td>
            <td>{{ row.Credits }}</td>
            <td>{{ row.Teacher }}</td>
            <td>{{ row.Summary }}</td>
            <td>
                <a href="/add?id={{ row.id }}"
                   onclick="return confirm('Have you watched {{ row.name }}?')">
                    Add
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}