{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron text-center">
        <div class="container2" style="background-color: rgba(10, 10, 10, 0.7)"></div>
        <h2 class="banner-text">
            <p style="text-align: center;"><strong>Pakuranga College&nbsp;</strong></p>
            <p style="text-align: center;">Select a Subject</p>
        </h2>

    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>credits</th>
            <th>teacher</th>
            <th>summary</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
        <tr>
            <td>{{ row.Name }}</td>
            <td>{{ row.Credits }}</td>
            <td>{{ row.Teacher }}</td>
            <td>{{ row.Summary }}</td>
            <td>
                <a href="/subject_vaildate?id={{ row.id }}"
                   onclick="return confirm('Do you want to add {{ row.Name }}?')">
                    Add
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post" action="/subject_validate">
    <select name="year_level">
        {% for year in years %}
        <option>{{ year }}</option>
        {% endfor %}
    </select>

    <select name="faculty_name" id="faculty_selector">
        {% for faculty in faculties %}
        <option>{{ faculty }}</option>
        {% endfor %}
    </select>

    <select name="subject_id">
        {% for row in result %}
        <option data-year="{{ row.year_level }}" data-faculty="{{ row.Faculty }}" value="{{ row.id }}" name="id">{{ row.Name }}</option>
        {% endfor %}

    </select>
    <button type="submit">Add</button>
</form>

{% for row in result %}
<div data-subject="{{ row.id }}">
    {{ row.Credits }} {{ row.Summary }}
</div>
{% endfor %}



<script>
    let yearDropdown = document.querySelector('select[name="year_level"]');
    let facultyDropdown = document.querySelector('select[name="faculty_name"]');
    let subjectDropdown = document.querySelector('select[name="subject_id"]');

    yearDropdown.addEventListener('change', filterSubjects);
    facultyDropdown.addEventListener('change', filterSubjects);
    subjectDropdown.addEventListener('change', displaySubject);

    function filterSubjects() {
        document.querySelectorAll('option[data-year]').forEach(makeInvisible);

        document.querySelectorAll('option[data-year="' + yearDropdown.value + '"][data-faculty="' + facultyDropdown.value + '"]').forEach(makeVisible);

        subjectDropdown.value = [...document.querySelectorAll('select[name="subject_id"] option')].find(o => !o.style.display)?.value || '';
        displaySubject();
    }

    function displaySubject() {
        console.log(subjectDropdown.value, document.querySelectorAll('div[data-subject="' + subjectDropdown.value + '"]'))
        document.querySelectorAll('div[data-subject]').forEach(makeInvisible);
        document.querySelectorAll('div[data-subject="' + subjectDropdown.value + '"]').forEach(makeVisible);
    }

    function makeInvisible(el) {
        el.style.display = 'none';
    }
    function makeVisible(el) {
        el.style.display = '';
    }


    filterSubjects();

</script>

    {% endblock %}
